body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: #fa3546;

}

.container {
  position: absolute;
  width: min(500px, 1000px);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
  
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1.5px solid #000000;
  border-radius: 5px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
  color: rgb(81, 140, 242);
}

button {
  width: 95%;
  background-color: #fa3546;
  color: white;
  cursor: pointer;
  border: none;
  padding: 15px 0;
  border-radius: 10px;
}

button:hover {
  background-color: #45a049;
}

.story {
  margin-top: 20px;
  padding: 15px;
  background: #fff3cd;
  border-radius: 10px;
  display: none;
  color:  rgb(239, 87, 87);
}
.container h1{
color: rgb(239, 87, 87);
margin-bottom: 9px;
text-shadow:0 0 10px gray;
outline: #373635;
}



@media screen and (max-width: 768px) {
  .container {
    width: 90%; 
    padding: 20px; 
  }

  .wrapper {
    grid-template-columns: 1fr; 
  }

  input, button {
    width: 100%;
  }

  label {
    font-size: 14px; 
  }

  .story {
    padding: 10px; 
  }

  .container h1 {
    font-size: 24px; 
  }
}


@media screen and (max-width: 425px) {
  .container {
    width: 90%; 
    padding: 15px; 
  }

  .wrapper {
    grid-template-columns: 1fr; 
  }

  input, button {
    width: 100%; 
    padding: 12px; 
  }

  label {
    font-size: 13px;
  }

  .story {
    padding: 8px; 
  }

  .container h1 {
    font-size: 20px; 
  }
}
